<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button>
    <a href="/board/save">글작성(링크)</a>
    <button onclick="listReq()">글목록</button>
    <button onclick="pagingReq()">페이징목록</button>
</body>
<script>
//  function saveReq() {
//
//  }

  const saveReq = () => {
    location.href = "/board/save";
  }
  const listReq = () => {
    location.href = "/board/";
  }
  const pagingReq = () => {
    location.href = "/board/paging";
  }


</script>
</html>