<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
<form action="/board/update" method="post" name="updateForm">
  <input type="hidden" name="id" th:value="${boardUpdate.id}">
  writer: <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly> <br>
  pass: <input type="text" name="boardPass" id="boardPass"> <br>
  title: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
  contents: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea> <br>
  <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
  <input type="button" value="글수정" onclick="boardUpdate()">
</form>
<script th:inline="javascript">
  const boardUpdate = () => {
    const pass = [[${boardUpdate.boardPass}]];
    const inputPass = document.getElementById("boardPass").value;
    if (pass == inputPass) {
      document.updateForm.submit();
    } else {
      alert("비밀번호가 일치하지 않습니다!");
    }
  }
</script>
</body>